# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [4]:
# your code here
df_orders= pd.read_csv('Orders.csv')

df_orders.head(20)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08
10,10,536367,22745,2010,12,3,8,poppy's playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
11,11,536367,22748,2010,12,3,8,poppy's playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
12,12,536367,22749,2010,12,3,8,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom,30.00
13,13,536367,22310,2010,12,3,8,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom,9.90
14,14,536367,84969,2010,12,3,8,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
15,15,536367,22623,2010,12,3,8,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
16,16,536367,22622,2010,12,3,8,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom,19.90
17,17,536367,21754,2010,12,3,8,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
18,18,536367,21755,2010,12,3,8,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
19,19,536367,21777,2010,12,3,8,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

In [8]:
# your code here, group by por ID 

customers = df_orders.groupby("CustomerID").sum()
customers

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,Country,amount_spent
CustomerID,,,,,,,,,,,,,
12346,61619,541431,23166,2011,1,2,10,medium ceramic top storage jar,74215,2011-01-18 10:01:00,1.04,United Kingdom,77183.60
12347,42441700,101296926,8511622375714772249222771227722277322774227752...,365971,1383,441,2219,black candelabra t-light holderairline bag vin...,2458,2010-12-07 14:57:002010-12-07 14:57:002010-12-...,481.21,IcelandIcelandIcelandIcelandIcelandIcelandIcel...,4310.00
12348,2807120,16869685,8499222951849918499121213212132261621981219822...,62324,257,111,472,72 sweetheart fairy cake cases60 cake cases do...,2341,2010-12-16 19:09:002010-12-16 19:09:002010-12-...,178.71,FinlandFinlandFinlandFinlandFinlandFinlandFinl...,1797.24
12349,35444274,42165457,2311223460215642141121563221312219548194849782...,146803,803,73,657,parisienne curio cabinetsweetheart wall tidy p...,631,2011-11-21 09:51:002011-11-21 09:51:002011-11-...,605.10,ItalyItalyItalyItalyItalyItalyItalyItalyItalyI...,1757.55
12350,1365627,9231629,219082241279066K79191C2234884086C2255122557218...,34187,34,51,272,chocolate this way metal signmetal sign neighb...,197,2011-02-02 16:01:002011-02-02 16:01:002011-02-...,65.30,NorwayNorwayNorwayNorwayNorwayNorwayNorwayNorw...,334.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18280,1110495,5457120,8248422180224672272522727224952235822499226112...,20110,30,10,90,wood black board ant white finishretrospot lam...,45,2011-03-07 09:52:002011-03-07 09:52:002011-03-...,47.65,United KingdomUnited KingdomUnited KingdomUnit...,180.60
18281,1560699,3895248,22037227162202823007230082320922467,14077,42,49,70,robot birthday cardcard circus paradepenny far...,54,2011-06-12 10:53:002011-06-12 10:53:002011-06-...,39.36,United KingdomUnited KingdomUnited KingdomUnit...,80.82
18282,4642134,6838540,2127023187232952208921108211092242422423226992...,24132,116,60,146,antique cream cutlery cupboardfrench style sto...,103,2011-08-05 13:35:002011-08-05 13:35:002011-08-...,62.39,United KingdomUnited KingdomUnited KingdomUnit...,178.05
18283,233950830,425704048,22356207262238422386207172071885099F85099B2238...,1520316,5503,2489,10346,charlotte bag pink polkadotlunch bag woodlandl...,1397,2011-01-06 14:14:002011-01-06 14:14:002011-01-...,1220.93,United KingdomUnited KingdomUnited KingdomUnit...,2094.88
18287,21958901,39474556,2275522754227532275622758227572275222583225828...,140770,555,332,697,small purple babushka notebook small red babus...,1586,2011-05-22 10:39:002011-05-22 10:39:002011-05-...,104.55,United KingdomUnited KingdomUnited KingdomUnit...,1837.28

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [4]:
# your code here

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [5]:
# your code here