# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [106]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [107]:
# your code here
orders= pd.read_csv('Orders.csv')

orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [123]:
orders.columns = [c.lower().replace(' ', '_') for c in orders.columns]

orders.columns

Index(['unnamed:_0', 'invoiceno', 'stockcode', 'year', 'month', 'day', 'hour',
       'description', 'quantity', 'invoicedate', 'unitprice', 'customerid',
       'country', 'amount_spent'],
      dtype='object')

In [124]:
orders['customerid'].dtype

dtype('int64')

In [125]:
nan_cols = orders.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [126]:
orders.shape[0]

397924

In [127]:
orders.amount_spent.value_counts()

amount_spent
15.00     20082
19.80     11033
17.70      9174
16.50      8490
10.20      8028
          ...
233.10        1
145.53        1
215.80        1
114.10        1
66.36         1
Name: count, Length: 2811, dtype: int64

In [128]:
orders.amount_spent.describe()

count    397924.000000
mean         22.394749
std         309.055588
min           0.000000
25%           4.680000
50%          11.800000
75%          19.800000
max      168469.600000
Name: amount_spent, dtype: float64

In [129]:
orders.amount_spent.quantile(0.95)

67.5

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [130]:
# your code here

In [133]:
customers= orders.groupby('customerid').agg({'amount_spent': 'sum'})
customers= customers.reset_index()

In [141]:
customers

      customerid  amount_spent
0          12346      77183.60
1          12347       4310.00
2          12348       1797.24
3          12349       1757.55
4          12350        334.40
...          ...           ...
4334       18280        180.60
4335       18281         80.82
4336       18282        178.05
4337       18283       2094.88
4338       18287       1837.28

[4339 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [95]:
# your code here

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [5]:
# your code here