# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [ ]:
# import required libraries

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
orders = pd.read_csv('Orders.csv')

orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

### Sub problem 1. How to aggregate the amount_spent for unique customers?

In [3]:
orders.groupby("CustomerID").sum().head()

#Me agrupa en un df para cada único "CustomerID", pasando a ser índices, la suma de las columnas del df orders.

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55
12350,1365627,9231629,34187,34,51,272,197,65.30,334.40

In [4]:
orders.groupby("CustomerID").sum().shape #hay 4300 clientes únicos. Es un df.

(4339, 9)

In [5]:
orders.groupby("CustomerID").sum()["amount_spent"]

#el type de esto es una Series, tiene sentido porque le estoy pidiendo la columna "amount spend" que es la que me interesa.

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [6]:
orders.groupby("CustomerID").sum()["amount_spent"].sort_values(ascending=False)

#pido que me ordene la columna "amount spent" de mayor a menor

CustomerID
14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
           ...
17956        12.75
16454         6.90
14792         6.20
16738         3.75
13256         0.00
Name: amount_spent, Length: 4339, dtype: float64

In [7]:
customers = orders.groupby("CustomerID").sum()
customers #me guardo el df customer

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55
12350,1365627,9231629,34187,34,51,272,197,65.30,334.40
...,...,...,...,...,...,...,...,...,...
18280,1110495,5457120,20110,30,10,90,45,47.65,180.60
18281,1560699,3895248,14077,42,49,70,54,39.36,80.82
18282,4642134,6838540,24132,116,60,146,103,62.39,178.05
18283,233950830,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88
18287,21958901,39474556,140770,555,332,697,1586,104.55,1837.28

In [8]:
customers["amount_spent"]

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

### Sub problem 2. How to select customers whose aggregated amount_spent is in a given quantile range?

In [9]:
customers.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,4339.0,2.553768e+07,7.157521e+07,252.0,3569287.500,11090934.00,2.814387e+07,2.405301e+09
InvoiceNo,4339.0,5.141346e+07,1.287813e+08,536393.0,9534986.000,23128573.00,5.630215e+07,4.418581e+09
year,4339.0,1.844201e+05,4.600899e+05,2010.0,34187.000,82451.00,2.011000e+05,1.578003e+07
month,4339.0,6.981357e+02,1.878042e+03,1.0,110.000,308.00,7.695000e+02,6.260700e+04
day,4339.0,3.314861e+02,7.893480e+02,1.0,50.000,136.00,3.550000e+02,2.670400e+04
hour,4339.0,1.167291e+03,2.991085e+03,8.0,204.000,517.00,1.256000e+03,1.038310e+05
Quantity,4339.0,1.194214e+03,5.055603e+03,1.0,160.000,379.00,9.930000e+02,1.974910e+05
UnitPrice,4339.0,2.857803e+02,8.805457e+02,0.0,51.685,127.15,2.944250e+02,3.333245e+04
amount_spent,4339.0,2.053793e+03,8.988248e+03,0.0,307.245,674.45,1.661640e+03,2.802060e+05

In [10]:
#Podemos ubicar clientes en percentiles. Considero consumidor promedio aquel situado en los percentiles 25 y 75.

Q25 = customers["amount_spent"].quantile(0.25) #type es numpy.float64
Q25

307.245

In [11]:
#lo podría haber sacado de la tabla describe

customers.describe().T.loc["amount_spent"]["25%"]

307.245

In [12]:
Q75 = customers["amount_spent"].quantile(0.75) #type es numpy.float64
Q75

1661.64

In [13]:
#condición para filtrar a los clientes promedio
average_customers = (customers["amount_spent"] >= Q25) & (customers["amount_spent"] <= Q75) #type pandas.core.series.Series

#aplico la condición al dataframe customers
customers[average_customers]

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12350,1365627,9231629,34187,34,51,272,197,65.30,334.40
12354,9645139,31952838,116638,232,232,754,530,261.22,1079.40
12355,2354898,7181837,26143,65,13,169,240,54.65,459.40
12358,6875641,10785108,38209,168,52,190,248,157.21,1168.06
12363,4601661,12742621,46253,120,23,278,408,53.17,552.00
...,...,...,...,...,...,...,...,...,...
18252,39593311,56018313,197078,968,386,1173,239,306.65,526.67
18261,7425414,11920593,42231,195,39,225,146,64.74,324.24
18263,17183517,34221932,122671,446,211,609,1468,58.53,1213.16
18265,13428576,25875283,92506,356,80,673,311,241.34,801.51
18276,5900867,8021860,28154,140,56,140,186,34.75,335.86

### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

In [14]:
#Del mismo modo, establezco que los clientes preferentes se encuentran entre el percentil 75 y 90, y VIP > 90.

Q90 = customers["amount_spent"].quantile(0.90)

Q90

3646.1640000000007

In [15]:
#condición para filtrar a los clientes preferentes

pref_customers = (customers["amount_spent"] >= Q75) & (customers["amount_spent"] <= Q90)

#aplico la condición al dataframe customers
customers[pref_customers]

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55
12352,22083029,47523155,170935,552,243,1193,536,1354.11,2506.04
12356,6327889,32183405,118649,142,185,592,1591,188.87,2811.43
12360,40078779,72720480,259419,1005,303,1515,1165,457.91,2662.06
...,...,...,...,...,...,...,...,...,...
18259,13890450,23741242,84455,427,133,553,714,136.90,2338.60
18260,18050916,73457520,269463,577,436,1616,1478,469.94,2643.20
18272,49405922,93342091,333826,1221,509,2107,2050,380.91,3078.58
18283,233950830,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88
18287,21958901,39474556,140770,555,332,697,1586,104.55,1837.28

In [16]:
vip_customers = customers["amount_spent"] >= Q90
customers[vip_customers]

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00
12357,58262250,75290940,263441,1441,917,2096,2708,438.67,6207.67
12359,59103884,138190725,498728,1508,783,3136,1622,2137.86,6372.58
12362,89983124,150505851,534926,2189,944,3192,2229,1048.29,5226.23
...,...,...,...,...,...,...,...,...,...
18223,66402225,151665538,546971,1843,781,3290,2948,807.16,6484.54
18225,81151225,152401796,544979,2000,1027,3702,3244,692.45,5509.12
18226,59145937,135026999,486662,1500,845,2806,3466,528.82,5228.05
18229,44387325,91863926,329794,1223,631,1921,2488,758.76,7276.90
18251,5431304,9065520,32176,144,32,240,7824,12.35,4314.72

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [17]:
# your code here

#Agrupo por país y cliente, y sumo los valores de cada columna para cada cliente. Lo guardo en un df nuevo

country_customer = orders.groupby(["Country", "CustomerID"]).sum()
country_customer

                           Unnamed: 0  InvoiceNo     year  month   day  hour  \
Country        CustomerID
Australia      12386           228213    5381968    20102     98    32    96
               12388         23878866   55733658   201100    592   381  1230
               12393         12849375   35452768   128704    315   213   732
               12415        164201777  398543981  1439876   4254  2169  8061
               12422          3428310   11563488    42231     85    47   189
...                               ...        ...      ...    ...   ...   ...
United Kingdom 18287         21958901   39474556   140770    555   332   697
Unspecified    12363          4601661   12742621    46253    120    23   278
               12743         37895088   75262325   269474    938   536  2144
               14265          8885919   17423751    62341    233    76   343
               16320         10779856   30994156   112616    289   103   840

                           Quantity  UnitPrice  amount_spent
Country        CustomerID
Australia      12386            354      23.91        401.90
               12388           1462     277.77       2780.66
               12393            816     145.90       1582.60
               12415          77670    2097.08     124914.53
               12422            195      51.12        386.20
...                             ...        ...           ...
United Kingdom 18287           1586     104.55       1837.28
Unspecified    12363            408      53.17        552.00
               12743            319     407.17        546.43
               14265            330     181.75        530.18
               16320            732     138.91       1038.46

[4347 rows x 9 columns]

In [18]:
country_customer["amount_spent"] >= Q90 #la condición es una serie de booleanos

Country         CustomerID
Australia       12386         False
                12388         False
                12393         False
                12415          True
                12422         False
                              ...
United Kingdom  18287         False
Unspecified     12363         False
                12743         False
                14265         False
                16320         False
Name: amount_spent, Length: 4347, dtype: bool

In [19]:
#Este df contiene todos los clientes VIP agrupados por país

country_vip = country_customer[country_customer["amount_spent"] >= Q90]

country_vip

                            Unnamed: 0  InvoiceNo     year  month   day  hour  \
Country         CustomerID
Australia       12415        164201777  398543981  1439876   4254  2169  8061
                12431         38644117  101028000   365978   1258   747  2059
Belgium         12362         89983124  150505851   534926   2189   944  3192
                12449         64574712  108105916   384101   1654   875  2243
Channel Islands 14936        104523663  204432547   732004   2699  1453  3916
...                                ...        ...      ...    ...   ...   ...
United Kingdom  18223         66402225  151665538   546971   1843   781  3290
                18225         81151225  152401796   544979   2000  1027  3702
                18226         59145937  135026999   486662   1500   845  2806
                18229         44387325   91863926   329794   1223   631  1921
                18251          5431304    9065520    32176    144    32   240

                            Quantity  UnitPrice  amount_spent
Country         CustomerID
Australia       12415          77670    2097.08     124914.53
                12431           2443     705.57       5514.67
Belgium         12362           2229    1048.29       5226.23
                12449           1553     705.69       4067.29
Channel Islands 14936           4085    1339.19       8137.02
...                              ...        ...           ...
United Kingdom  18223           2948     807.16       6484.54
                18225           3244     692.45       5509.12
                18226           3466     528.82       5228.05
                18229           2488     758.76       7276.90
                18251           7824      12.35       4314.72

[432 rows x 9 columns]

In [54]:
country_vip.shape #Hay 432 clientes VIP en todo el mundo

(432, 9)

In [20]:
#Así puedo ver todos los registros por país, pero me piden cuál es el país con más registros, en este caso clientes VIP

#con idxmax() me salen los registros que tengan el máximo valor de cada columna

country_vip.loc["United Kingdom"]

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
12747,25044162,57423655,207118,795,297,1239,1275,449.89,4196.01
12748,1475723286,2592336731,9241888,42873,18154,61952,25748,12205.60,33719.73
12749,68131633,112643092,400189,1715,377,2400,1471,994.99,4090.88
12830,10790059,21347980,76418,279,130,504,9848,41.28,6814.64
...,...,...,...,...,...,...,...,...,...
18223,66402225,151665538,546971,1843,781,3290,2948,807.16,6484.54
18225,81151225,152401796,544979,2000,1027,3702,3244,692.45,5509.12
18226,59145937,135026999,486662,1500,845,2806,3466,528.82,5228.05
18229,44387325,91863926,329794,1223,631,1921,2488,758.76,7276.90
18251,5431304,9065520,32176,144,32,240,7824,12.35,4314.72

In [28]:
#Reseteo los índices del df donde tenía filtrado todos los clientes VIP por país y por cliente + condición VIP

country_vip2 = country_vip.reset_index()
country_vip2

,Country,CustomerID,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
0,Australia,12415,164201777,398543981,1439876,4254,2169,8061,77670,2097.08,124914.53
1,Australia,12431,38644117,101028000,365978,1258,747,2059,2443,705.57,5514.67
2,Belgium,12362,89983124,150505851,534926,2189,944,3192,2229,1048.29,5226.23
3,Belgium,12449,64574712,108105916,384101,1654,875,2243,1553,705.69,4067.29
4,Channel Islands,14936,104523663,204432547,732004,2699,1453,3916,4085,1339.19,8137.02
...,...,...,...,...,...,...,...,...,...,...,...
427,United Kingdom,18223,66402225,151665538,546971,1843,781,3290,2948,807.16,6484.54
428,United Kingdom,18225,81151225,152401796,544979,2000,1027,3702,3244,692.45,5509.12
429,United Kingdom,18226,59145937,135026999,486662,1500,845,2806,3466,528.82,5228.05
430,United Kingdom,18229,44387325,91863926,329794,1223,631,1921,2488,758.76,7276.90
431,United Kingdom,18251,5431304,9065520,32176,144,32,240,7824,12.35,4314.72

In [34]:
#limpio las columnas que no necesito
country_vip2.drop(["Unnamed: 0","Unnamed: 0", "InvoiceNo", "year", "month", "day", "hour", "Quantity", "UnitPrice"], axis=1, inplace=True)
country_vip2

             Country  CustomerID  amount_spent
0          Australia       12415     124914.53
1          Australia       12431       5514.67
2            Belgium       12362       5226.23
3            Belgium       12449       4067.29
4    Channel Islands       14936       8137.02
..               ...         ...           ...
427   United Kingdom       18223       6484.54
428   United Kingdom       18225       5509.12
429   United Kingdom       18226       5228.05
430   United Kingdom       18229       7276.90
431   United Kingdom       18251       4314.72

[432 rows x 3 columns]

In [31]:
#En este df veo el máximo de veces que aparece el país, porque ya aparecen únicos los CustomerID, y con el filtro en amount_spent

country_vip2["Country"].max()

'United Kingdom'

In [32]:
country_vip2["Country"].value_counts()

United Kingdom     354
Germany             22
France              18
Spain                6
Switzerland          5
Norway               4
EIRE                 3
Japan                3
Belgium              2
Portugal             2
Australia            2
Finland              2
Iceland              1
Netherlands          1
Poland               1
Denmark              1
Singapore            1
Cyprus               1
Sweden               1
Channel Islands      1
Israel               1
Name: Country, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [47]:
# your code here

#Ahora la condición es simplemente

comb_vip_pref = country_customer[country_customer["amount_spent"] >= Q75]
comb_vip_pref

                           Unnamed: 0  InvoiceNo     year  month   day   hour  \
Country        CustomerID
Australia      12388         23878866   55733658   201100    592   381   1230
               12415        164201777  398543981  1439876   4254  2169   8061
               12424          7337535   16756087    60330    180   120    360
               12431         38644117  101028000   365978   1258   747   2059
Austria        12360         40078779   72720480   259419   1005   303   1515
...                               ...        ...      ...    ...   ...    ...
United Kingdom 18259         13890450   23741242    84455    427   133    553
               18260         18050916   73457520   269463    577   436   1616
               18272         49405922   93342091   333826   1221   509   2107
               18283        233950830  425704048  1520316   5503  2489  10346
               18287         21958901   39474556   140770    555   332    697

                           Quantity  UnitPrice  amount_spent
Country        CustomerID
Australia      12388           1462     277.77       2780.66
               12415          77670    2097.08     124914.53
               12424            740      83.42       1760.96
               12431           2443     705.57       5514.67
Austria        12360           1165     457.91       2662.06
...                             ...        ...           ...
United Kingdom 18259            714     136.90       2338.60
               18260           1478     469.94       2643.20
               18272           2050     380.91       3078.58
               18283           1397    1220.93       2094.88
               18287           1586     104.55       1837.28

[1085 rows x 9 columns]

In [40]:
comb_vip_pref.drop(["Unnamed: 0","Unnamed: 0", "InvoiceNo", "year", "month", "day", "hour", "Quantity", "UnitPrice"], axis=1, inplace=True)
comb_vip_pref

                           amount_spent
Country        CustomerID
Australia      12388            2780.66
               12415          124914.53
               12424            1760.96
               12431            5514.67
Austria        12360            2662.06
...                                 ...
United Kingdom 18259            2338.60
               18260            2643.20
               18272            3078.58
               18283            2094.88
               18287            1837.28

[1085 rows x 1 columns]

In [43]:
comb_vip_pref_new = comb_vip_pref.reset_index() #vuelvo a resetar los índices para que me meta en una columna los países
comb_vip_pref_new

             Country  CustomerID  amount_spent
0          Australia       12388       2780.66
1          Australia       12415     124914.53
2          Australia       12424       1760.96
3          Australia       12431       5514.67
4            Austria       12360       2662.06
...              ...         ...           ...
1080  United Kingdom       18259       2338.60
1081  United Kingdom       18260       2643.20
1082  United Kingdom       18272       3078.58
1083  United Kingdom       18283       2094.88
1084  United Kingdom       18287       1837.28

[1085 rows x 3 columns]

In [45]:
comb_vip_pref_new["Country"].max()

'United Kingdom'