# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
import pandas as pd
import numpy as np

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
orders = pd.read_csv('Orders.csv')

orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [5]:
customer_spending = orders.groupby('CustomerID')['amount_spent'].sum()
customer_spending.sort_values(ascending=False)

CustomerID
14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
           ...
17956        12.75
16454         6.90
14792         6.20
16738         3.75
13256         0.00
Name: amount_spent, Length: 4339, dtype: float64

Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?

In [6]:
q75 = customer_spending.quantile(0.75)
q95 = customer_spending.quantile(0.95)

preferred_customers = customer_spending[(customer_spending > q75) & (customer_spending <= q95)]
vip_customers = customer_spending[customer_spending > q95]

In [9]:
preferred_customers

CustomerID
12347    4310.00
12348    1797.24
12349    1757.55
12352    2506.04
12356    2811.43
          ...
18259    2338.60
18260    2643.20
18272    3078.58
18283    2094.88
18287    1837.28
Name: amount_spent, Length: 868, dtype: float64

In [10]:
vip_customers

CustomerID
12346     77183.60
12357      6207.67
12359      6372.58
12409     11072.67
12415    124914.53
           ...
18109      8052.97
18139      8438.34
18172      7561.68
18223      6484.54
18229      7276.90
Name: amount_spent, Length: 217, dtype: float64

Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

In [13]:
orders['Customer_Category'] = 'Regular'
orders.loc[orders['CustomerID'].isin(preferred_customers.index), 'Customer_Category'] = 'Preferred'
orders.loc[orders['CustomerID'].isin(vip_customers.index), 'Customer_Category'] = 'VIP'
orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Customer_Category
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,Preferred
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,Preferred
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,Regular
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,Regular
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,Regular
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,Regular
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,Regular

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [17]:
vip_by_country = orders[orders['Customer_Category'] == 'VIP'].groupby('Country')['CustomerID'].nunique()

country_with_most_vip = vip_by_country.idxmax()
num_vip = vip_by_country.max()

print(f"{country_with_most_vip}-----------{num_vip}")

United Kingdom-----------177

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [18]:
vip_and_preferred = orders[orders['Customer_Category'].isin(['VIP', 'Preferred'])].groupby('Country')['CustomerID'].nunique()

country_with_most = vip_and_preferred.idxmax()
num_vip_preferred = vip_and_preferred.max()

print(f"{country_with_most}-----------{num_vip_preferred}")

United Kingdom-----------932