# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [81]:
import pandas as pd
import numpy as np

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
orders = pd.read_csv('Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
orders.info()  #primero echamos una visual a nuestra tabla a ver si tenemos datos perdidos o datos que no coincidan, nos interesan sobre todo las columnas referentes a los CustomerID y al amount_spent

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397924 entries, 0 to 397923
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    397924 non-null  int64
 1   InvoiceNo     397924 non-null  int64
 2   StockCode     397924 non-null  object
 3   year          397924 non-null  int64
 4   month         397924 non-null  int64
 5   day           397924 non-null  int64
 6   hour          397924 non-null  int64
 7   Description   397924 non-null  object
 8   Quantity      397924 non-null  int64
 9   InvoiceDate   397924 non-null  object
 10  UnitPrice     397924 non-null  float64
 11  CustomerID    397924 non-null  int64
 12  Country       397924 non-null  object
 13  amount_spent  397924 non-null  float64
dtypes: float64(2), int64(8), object(4)
memory usage: 42.5+ MB

In [5]:
orders[['CustomerID', 'amount_spent']]

        CustomerID  amount_spent
0            17850         15.30
1            17850         20.34
2            17850         22.00
3            17850         20.34
4            17850         20.34
...            ...           ...
397919       12680         10.20
397920       12680         12.60
397921       12680         16.60
397922       12680         16.60
397923       12680         14.85

[397924 rows x 2 columns]

In [6]:
len(orders.CustomerID.unique())  #por curiosdad miramos cuantos cleintes distintos tenemos

4339

In [24]:
expenses_by_user = orders.groupby('CustomerID')['amount_spent'].sum().sort_values(ascending = False)  
#suma de las expenses por UserID y ordenamos un poco para mirar
expenses_by_user

CustomerID
14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
           ...
17956        12.75
16454         6.90
14792         6.20
16738         3.75
13256         0.00
Name: amount_spent, Length: 4339, dtype: float64

In [95]:
orders.groupby('CustomerID')['amount_spent'].sum().describe()

count      4339.000000
mean       2053.793018
std        8988.248381
min           0.000000
25%         307.245000
50%         674.450000
75%        1661.640000
max      280206.020000
Name: amount_spent, dtype: float64

In [96]:
expenses_95th_percentile = expenses_by_user.quantile(0.95) #calculamos el percentile 95
vip_users = expenses_by_user[expenses_by_user >= expenses_95th_percentile] # y los UserIds que coinciden con ese percentil
vip_users = list(vip_users.index)
vip_users[0:10]  #solo imprimo 10 para que no te pete esto.

[14646, 18102, 17450, 16446, 14911, 12415, 14156, 17511, 16029, 12346]

In [97]:
#el percentil 75 ya lo conocemos de arriba por lo que podemos buscar a los preferred customers en la franja entre los que están por encima del 75 y por debajodel 95
preferred_customers = expenses_by_user[(expenses_by_user < expenses_95th_percentile) & (expenses_by_user > 1661.64)]
preferred_customers = list(preferred_customers.index)
preferred_customers[:10] #solo imprimo 10 para que no te pete esto.

[13050, 12720, 15218, 17686, 13178, 16553, 13468, 14110, 14049, 17049]

In [ ]:
#ahora creamos una nueva columna que tenga los valores de VIP, Preferred and Regular customers for each percentile.

In [103]:
def customer_status(x):
    
    if x in vip_users:
        return 'VIP'
    
    elif x in preferred_customers:
        return 'Preferred'
    
    else:
        return 'Regular' #me lo he inventdo por darle un status a los que no están dentro de los "mejores cleintes"

In [108]:
orders['Client Status'] = orders['CustomerID'].apply(customer_status)
#aplicamos la funcion a la columna de CustomerID y creamos una nueva columna con el nombre 'Client Status'

In [123]:
orders['Client Status'].value_counts().sum()==orders.shape[0] #por comprobar que no he dejado nada fuera

True

In [124]:
orders.describe(include='object').T #estoy probando algo que acabamos de aprender en clase. Olvidalo.

                count unique                                 top    freq
StockCode      397924   3665                              85123A    2035
Description    397924   3877  white hanging heart t-light holder    2028
InvoiceDate    397924  17286                 2011-11-14 15:27:00     542
Country        397924     37                      United Kingdom  354345
Client Status  397924      3                           Preferred  151781

# Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [131]:
orders[orders['Client Status']=='VIP'].value_counts('Country')

Country
United Kingdom     84185
EIRE                7077
France              3290
Germany             3127
Netherlands         2080
Australia            898
Portugal             681
Switzerland          594
Spain                511
Norway               420
Channel Islands      364
Finland              294
Cyprus               248
Singapore            222
Japan                205
Sweden               198
Belgium               54
Denmark               36
dtype: int64

In [133]:
#ahora (PORQUE SOY UN PERSONAJE) quiero saber que coinciden la cantidad de VIPs de la lista con la suma de lo de arriba. Solo porque no me fio de mi mismo...

In [132]:
orders[orders['Client Status']=='VIP'].value_counts('Country').sum() == len(orders[orders['Client Status']=='VIP'])

True

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [137]:
orders[(orders['Client Status']=='VIP') | (orders['Client Status']=='Preferred')].value_counts('Country')

Country
United Kingdom     221635
Germany              7349
EIRE                 7238
France               6301
Netherlands          2080
Spain                1569
Belgium              1557
Switzerland          1370
Portugal             1093
Norway               1028
Australia            1028
Channel Islands       589
Italy                 507
Finland               504
Cyprus                451
Sweden                273
Japan                 272
Singapore             222
Denmark               217
Israel                214
Iceland               182
Austria               158
Poland                149
Canada                135
Malta                  67
Lebanon                45
Greece                 32
dtype: int64

# United Kingdom es la respuesta de ambas preguntas