# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [58]:
# import required libraries

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [59]:
# your code here
orders = pd.read_csv('/Users/criscarneiro/desktop/ironhack/2_labs/2.3-lab_df_calculation_and_transformation/your-code/orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [60]:
orders.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,397924.0,278465.221859,152771.368303,0.0,148333.75,284907.50,410079.25,541908.00
InvoiceNo,397924.0,560617.126645,13106.167695,536365.0,549234.00,561893.00,572090.00,581587.00
year,397924.0,2010.934259,0.247829,2010.0,2011.00,2011.00,2011.00,2011.00
month,397924.0,7.612537,3.416527,1.0,5.00,8.00,11.00,12.00
day,397924.0,3.614555,1.928274,1.0,2.00,3.00,5.00,7.00
hour,397924.0,12.728247,2.273535,6.0,11.00,13.00,14.00,20.00
Quantity,397924.0,13.021823,180.420210,1.0,2.00,6.00,12.00,80995.00
UnitPrice,397924.0,3.116174,22.096788,0.0,1.25,1.95,3.75,8142.75
CustomerID,397924.0,15294.315171,1713.169877,12346.0,13969.00,15159.00,16795.00,18287.00
amount_spent,397924.0,22.394749,309.055588,0.0,4.68,11.80,19.80,168469.60

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [61]:
# How to aggregate the amount_spent for unique customers?

agg_amount_spent = orders.groupby('CustomerID').agg({'amount_spent':'sum'}).sort_values('amount_spent',ascending=False)
agg_amount_spent.head()

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06

In [62]:
print(len(agg_amount_spent))
print(len(orders['CustomerID'].unique()))

4339
4339

In [63]:
## How to select customers whose aggregated amount_spent is in a given quantile range?

seventy_fifth_percentile = agg_amount_spent['amount_spent'].quantile(0.75)
ninety_fifth_percentile = agg_amount_spent['amount_spent'].quantile(0.95)

In [64]:
print(seventy_fifth_percentile)
print(ninety_fifth_percentile)

1661.64
5840.181999999982

In [65]:
VIP_Customers = agg_amount_spent[agg_amount_spent['amount_spent'] > ninety_fifth_percentile]
VIP_Customers.head()

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06

In [66]:
VIP_Customers_IDs = VIP_Customers.index
VIP_Customers_IDs [:10]

Int64Index([14646, 18102, 17450, 16446, 14911, 12415, 14156, 17511, 16029,
            12346],
           dtype='int64', name='CustomerID')

In [67]:
Preferred_Customers = agg_amount_spent[(agg_amount_spent['amount_spent'] > seventy_fifth_percentile) & (agg_amount_spent['amount_spent'] <= ninety_fifth_percentile)]
Preferred_Customers.head()

            amount_spent
CustomerID
13050            5836.86
12720            5781.73
15218            5756.89
17686            5739.46
13178            5725.47

In [68]:
Preferred_Customers_IDs = Preferred_Customers.index
Preferred_Customers_IDs [:10]

Int64Index([13050, 12720, 15218, 17686, 13178, 16553, 13468, 14110, 14049,
            17049],
           dtype='int64', name='CustomerID')

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [69]:
# your code here

In [70]:
orders.iloc[VIP_Customers_IDs].groupby('Country').agg({'CustomerID':'count'}).sort_values('CustomerID',ascending= False)

                CustomerID
Country
United Kingdom         191
France                   6
Germany                  6
Norway                   6
EIRE                     3
Portugal                 2
Spain                    2
Japan                    1

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [71]:
type(Preferred_Customers_IDs)

pandas.core.indexes.numeric.Int64Index

In [72]:
combined_index = Preferred_Customers_IDs.append(VIP_Customers_IDs)
type(combined_index)

pandas.core.indexes.numeric.Int64Index

In [73]:
orders.iloc[combined_index].groupby('Country').agg({'CustomerID':'count'}).sort_values('CustomerID',ascending= False)

                 CustomerID
Country
United Kingdom          971
Norway                   24
Germany                  22
France                   19
Spain                    15
EIRE                     12
Denmark                   8
Japan                     6
Portugal                  6
Channel Islands           2