# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
raw_orders = pd.read_csv('Orders.csv')
orders = raw_orders.copy()

In [3]:
orders.drop('Unnamed: 0', axis=1, inplace=True)
orders.head()

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

First, identify two groups of customers from the data set. The first group is VIP Customers whose aggregated expenses at your global chain stores are above the 95th percentile (aka. 0.95 quantile). The second group is Preferred Customers whose aggregated expenses are between the 75th and 95th percentile.

In [4]:
p75 = np.percentile(orders['amount_spent'], 75)
p95 = np.percentile(orders['amount_spent'], 95)
print(p75, p95)

19.8 67.5

In [5]:
orders['VIP'] = orders['amount_spent'] > p95

In [6]:
orders['Preferred'] = orders['amount_spent'] > p75

In [7]:
orders['VIP'].value_counts()

False    378309
True      19615
Name: VIP, dtype: int64

In [8]:
orders['Preferred'].value_counts()

False    308302
True      89622
Name: Preferred, dtype: int64

In [9]:
preferred = False

preferred = bool(preferred ^ False)

preferred

False

In [10]:
orders['Preferred'] = orders['Preferred'] ^ orders['VIP']

In [11]:
orders['Preferred'].value_counts()

False    327917
True      70007
Name: Preferred, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [12]:
orders['Country'].loc[orders['VIP'].values == True].value_counts().head()

United Kingdom    14739
Netherlands        1468
EIRE                715
Australia           571
Germany             511
Name: Country, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.

In [15]:
orders['Country'].loc[orders['Preferred'].values == True].value_counts().head()

United Kingdom    58205
Germany            2382
France             2343
EIRE               1947
Switzerland         592
Name: Country, dtype: int64

This resutls indicates that United Kingdom is the Country with most VIP and Preferred Customers