# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries

import pandas as pd
import numpy as np

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here

orders = pd.read_csv('Orders.csv')

orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

##### Sub Problem 1

In [34]:
grouped = orders.groupby(['CustomerID']).sum()

grouped['amount_spent'].sort_values(ascending=False).head(10)

C:\Users\Koh\AppData\Local\Temp\ipykernel_2156\2751822810.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = orders.groupby(['CustomerID']).sum()

CustomerID
14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
12415    124914.53
14156    117379.63
17511     91062.38
16029     81024.84
12346     77183.60
Name: amount_spent, dtype: float64

###### Sub Problem 2

Vip -> between 95% and 100%

Pref -> between 75% and 95%

In [81]:
grouped.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,4339.0,2.553768e+07,7.157521e+07,252.0,3569287.500,11090934.00,2.814387e+07,2.405301e+09
InvoiceNo,4339.0,5.141346e+07,1.287813e+08,536393.0,9534986.000,23128573.00,5.630215e+07,4.418581e+09
year,4339.0,1.844201e+05,4.600899e+05,2010.0,34187.000,82451.00,2.011000e+05,1.578003e+07
month,4339.0,6.981357e+02,1.878042e+03,1.0,110.000,308.00,7.695000e+02,6.260700e+04
day,4339.0,3.314861e+02,7.893480e+02,1.0,50.000,136.00,3.550000e+02,2.670400e+04
hour,4339.0,1.167291e+03,2.991085e+03,8.0,204.000,517.00,1.256000e+03,1.038310e+05
Quantity,4339.0,1.194214e+03,5.055603e+03,1.0,160.000,379.00,9.930000e+02,1.974910e+05
UnitPrice,4339.0,2.857803e+02,8.805457e+02,0.0,51.685,127.15,2.944250e+02,3.333245e+04
amount_spent,4339.0,2.053793e+03,8.988248e+03,0.0,307.245,674.45,1.661640e+03,2.802060e+05

In [82]:
grouped.describe().T.loc['amount_spent']['75%']

1661.64

In [83]:
best_clients = grouped[grouped.amount_spent > grouped.describe().T.loc['amount_spent']['75%']]

In [84]:
best_clients

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55
12352,22083029,47523155,170935,552,243,1193,536,1354.11,2506.04
...,...,...,...,...,...,...,...,...,...
18259,13890450,23741242,84455,427,133,553,714,136.90,2338.60
18260,18050916,73457520,269463,577,436,1616,1478,469.94,2643.20
18272,49405922,93342091,333826,1221,509,2107,2050,380.91,3078.58
18283,233950830,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88
18287,21958901,39474556,140770,555,332,697,1586,104.55,1837.28

In [98]:
vipref_quantity = len(best_clients.amount_spent)

In [99]:
vip_quantity = int(vipref_quantity * 0.05)
pref_quantity = vipref_quantity - vip_quantity

vip_quantity, pref_quantity

(54, 1031)

In [107]:
best_clients.amount_spent.sort_values()

CustomerID
13012      1661.84
12530      1662.28
12912      1662.30
16115      1667.97
17656      1674.69
           ...
14911    143825.06
16446    168472.50
17450    194550.79
18102    259657.30
14646    280206.02
Name: amount_spent, Length: 1085, dtype: float64

In [119]:
pref_clients = best_clients.amount_spent.sort_values().index[:pref_quantity]

vip_clients = best_clients.amount_spent.sort_values().index[pref_quantity:]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [134]:
vips = orders.copy()

In [135]:
vips = vips[['CustomerID', 'Country']]

In [136]:
vips = vips.drop_duplicates()

In [137]:
vips['VIP'] = vips['CustomerID'].apply(lambda x: x in vip_clients)

In [138]:
vips.groupby('Country').sum()['VIP'].sort_values(ascending=False).index[0]

'United Kingdom'

United Kingdom has the most amount of VIPs.

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [139]:
vipref = orders.copy()

In [140]:
vipref = vipref[['CustomerID', 'Country']]

In [141]:
vipref = vipref.drop_duplicates()

In [142]:
vipref['VIPREF'] = vips['CustomerID'].apply(lambda x: x in best_clients)

In [145]:
vipref.groupby('Country').sum()['VIPREF'].sort_values(ascending=False).index[0]

'Australia'

Australa has the most amount of VIPs and Prefered Customers combined.